<div class="body">
  <p>BẢNG GIÁ MUA BÁN NGOẠI TỆ</p>
  <!-- <div class="search">
    <input type="text" placeholder="Tìm Kiếm mã tiền tệ" [(ngModel)]="searchitem">
    <div *ngFor="let currency of currencies |filter:searchitem">
      <p> -->
        <!-- {{currency.ten}} -->
      <!-- </p>
    </div>
  </div> -->
  <div class="container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-click="sort('id')">Mã NT
            <span class="glyphicon sort-icon"
              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('product_name')">Tên ngoại tệ
            <span class="glyphicon sort-icon"
              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('product_name')">Mua
            <span class="glyphicon sort-icon"
              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('product_name')">Bán
            <span class="glyphicon sort-icon"
              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>


        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="product in products|orderBy:sortBy:reverse|filter:search|itemsPerPage:5"
          *ngFor="let currency of currencies">
          <td>{{currency.ma}}</td>
          <td>{{currency.ten}}</td>
          <td>{{currency.mua}}</td>
          <td>{{currency.ban}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>