.body{
    .search{
        display: flex;
        justify-content: center;
        margin-bottom: -5%;
        input{
            width: 230px;
            height: 23px;
            padding-left: 3px;
        }
    }

    background-image: linear-gradient(#594286, #3894b9) !important;
    p{
        display: flex;
        justify-content: center;
        /* margin-top: 10px; */
        padding-top: 100px;
        padding-bottom: 25px;
        color: #ffffff;
        font-size: 28px;
    }
    .container{
        margin: auto;
        display: flex;
        justify-content: space-between;
        border: 1px solid #ffffff;
        width: 50%;
        justify-content: space-around;
        th{
            padding-right: 100px;
            padding-bottom: 13px;
            padding-top: 10px;
            color: #00FF66;
        }
        td{
            color: #ffffff;
            padding-bottom: 10px;
        }
    }
}
