<div class="main">
    <div class="header">
        <p>CHUYỂN ĐỔI TIỀN TỆ</p>
      </div>
      <div class="body">
        <div>
          <form [formGroup]="form" class="change" (ngSubmit)="change(selectTT.value)">
      
            <div class="top common form-group">
              <img src="assets/imgs/us.jpg" />
              <input type="text" formControlName="sotiennhap" placeholder="Nhập số tiền">
              <select class="select" #selectTT>
                <option *ngFor="let currency of currencies" [value]="currency.ma">{{currency.ma}}</option>
              </select>
            </div>
            <div class="bottom common form-group">
              <img src="assets/imgs/iconvietnam.png" />
              <input type="text" placeholder="Kết quả" value="{{ketqua | currency:'VND'}}" readonly>
              <select class="select">
                <option>VND</option>
              </select>
            </div>
            <button class="buttonChange" type="submit" (click)="changeMoney()">Chuyển đổi</button>
          </form>
        </div>
        <div>
          <p>Các đồng tiền chính</p>
          <div class="container">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th ng-click="sort('id')">Tiền Tệ
                    <span class="glyphicon sort-icon"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('product_name')">ISO
                    <span class="glyphicon sort-icon"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="product in products|orderBy:sortBy:reverse|filter:search|itemsPerPage:5"
                  *ngFor="let currency of currencies">
                  <td>{{currency.ten}}</td>
                  <td>{{currency.ma}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
      </div>
</div>
