.main{
    background-image: linear-gradient(#594286, #3894b9) !important;
    height: 100vh;
    .header{
        padding-top: 10px;
        p{
            text-align: center;
            font-size: 26px;
            font-weight: bold;
            color: #ffffff;
          
        }
    }
    .body{
        padding: 0;
       
        margin-top: -28px;
        display: flex;
        justify-content: space-around;
        .change{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 auto;
            border: 1px solid #ffffff;
            width: 100%;
            padding-bottom: 42px;
            padding-top: 25px;
            margin-top: 29%;
            padding-right: 56px;
            .buttonChange{
                width: 100px;
                background-color: #ad4055;
                height: 34px;
                border: none;
                border-radius: 24px;
                color: #ffffff;
                display: flex;
                justify-content: center;
                text-align: center;
                margin: 10px auto;
                cursor: pointer;
            }
            .top{
                margin-bottom: 10px;
            }
            .common{
                img{
                    width: 40px;
                    border-radius: 50%;
                }
                input{
                    height: 27px;
                    text-align: center;
                }
               select{
                   height: 31px;
               }
            }
        }
        p{
            text-align: center;
            margin-top: 28px;
            font-size: 19px;
            font-weight: bold;
            color: #ffffff;
            padding: 36px
        }
        .container{
            margin: auto;
            overflow: auto;
            display: flex;
            justify-content: space-between;
            border: 1px solid #ffffff;
            width: 460px;
            height: 440px;
            margin-top: -28px;
            
            th{
                padding-right: 142px;
            }
            td{
                color: #ffffff;
                margin-bottom: 5px; 
                padding-left: 21px;

            }
        }
    }
}

