.body{
    img{
    position: absolute;
    padding: 0;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }
    .text{
        position: relative;
        .title{
        display: flex;
        justify-content: center;
        font-size: 40px;
        color: #ffffff;
        margin-bottom:30px;
        padding-top: 30px;
        }
    }
    .content{
        position: relative;
        display: flex;
        justify-content: center;
        .form{
            width: 400px;
            height: 500px;
            // background-color: black;
            // border: 1px solid white;
            // opacity: 0.2;
        
            form{
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            .btn-dangnhap{
                margin-bottom: 13px;
                height: 29px;
                width: 130px;
                border-radius: 50px;
                margin: 0 auto;
                margin-top: 60px;
                background-color: #0000FF;
                border: 0;
                color: #ffffff;
                cursor: pointer;
                :hover{
                    background-color:red;
                }
            }
            .register{
                display: flex;
                justify-content: center;
                margin-top: 15px;
                color: #ffffff;
                font-size: 15px;
                cursor: pointer;
                :hover{
                    background-color: red;

                }
            }
    
        }
        .include{
            justify-content: center;
            align-content: center;
            margin: 0 auto;
            margin-top: 30%;
            .form-group{
                input{
                    margin-bottom: 13px;
                    height: 29px;
                    width: 300px;
                    color: black;
                    padding-left: 9px;
                }
            }
        }
    }
}
