
<div class="body">
  <img src="assets/imgs/hinhnen.png"/>
  <div class="text">
    <span class="title">ĐĂNG NHẬP</span>
  </div>
  <div class="content">
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="dangnhap()">
        <div class="include">
          <div class="form-group ">
            <input type="text" formControlName="username" placeholder="Tài khoản">
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" placeholder="Mật khẩu">
          </div>
        </div>
        <button class="btn-dangnhap" type="submit">ĐĂNG NHẬP</button>
        <p class="register">Đăng ký tài khoản.</p>
      </form>
    </div>
  </div>
</div>
