<!-- <app-currency></app-currency> -->
<!-- <app-sellandbuy></app-sellandbuy> -->
<!-- <app-caculator></app-caculator> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-login></app-login> -->
<app-admin></app-admin>