<div class="header">
  <span>BIỂU ĐỒ TỈ GIÁ</span>
  <img src="assets/imgs/us.jpg" />
  <b (click)="dangnhap()">Đăng nhập</b>
  <ul class="nav">
    <li><a href="#">Thêm</a><i class="fal fa-angle-down"></i>
      <ul class="sub-menu">
        <li><a (click)='sellandbuy()'>MUA VÀ BÁN</a></li>
        <li><a (click)="caculator()">CÔNG CỤ TÍNH TOÁN</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- (click)="sellandbuy()" -->
<div class="body">
  <div class="top">
    <div class="left">
      <span class="title">Ngoại tệ 1</span>
      <select #seclectNT1>
        <option *ngFor="let item of currencies" [value]="item.ma">
          {{item.ma}}
        </option>
      </select>
    </div>
    <div class="right">
      <span class="title">Ngoại tệ 2</span>
      <select #seclectNT2>
        <option *ngFor="let item of currencies" [value]="item.ma">
          {{item.ma}}
        </option>
      </select>
    </div>
    <!-- <form #myForm="ngForm" novalidate>
      <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model"  (dateChanged)="onDateChanged($event)" required></my-date-picker>
    </form> -->
    <div>
      <button type="submit" class="button" (click)="xem(seclectNT1.value, seclectNT2.value)">Xem</button>
    </div>
  </div>
  <div class="line"></div>
  <span class="sentence">Biểu đồ tỉ giá ngoại tệ 2019</span>

  <div style="" class="chart" *ngIf="isShowChart === 2">
    <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [legend]="true" (chartClick)="onChartClick($event)" (chartHover)="chartHover($event)">
    </canvas>
  </div>
  <p *ngIf="isShowChart === 0" class="hidden">
    Nhấn xem để hiện thị biểu đồ!
  </p>
</div>