.header{
    background-color: #4ba9dd;
    width: 100%;
    height: 50px;
    span{
        display: flex;
        justify-content: center;
    
        line-height: 50px;
        color: #ffffff;
        font-size: 23px;
    }
        img{
            margin-top: -42px;
            width: 30px;
            margin-right: 106px;
            border-radius: 63%;
            /* float: right; */
            float: right;
        
        }
        b{
            margin-top: -37px;
           
            margin-right: 23px;
            border-radius: 63%;
            color: #ffffff;
            float: right;
            cursor: pointer;
        }

}
.nav{
    width: 100%;
    height: 30px;
    background-color: #4ba9dd;
    display: flex;
    margin-top: 0px;
    >li{
        float: left;
        list-style: none;
        margin-right: 15px;
        >a{
            text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        }
    }
    li{
        position: relative;
        list-style: none;
        a{
            padding: 10px;
            line-height: 20px;
            display: inline-block;
            text-decoration: none;
        }
    }
    .sub-menu{
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 200px;
        background-color: #eee;
        padding: 5px 20px;
        cursor: pointer;
        :hover{
            background-color: aquamarine;
            width: 100%;
        }

    }
}
.nav li:hover>.sub-menu{
    display: block;
}

.nav>li>.sub-menu{
    top: 40px;
    left: 0;
}
.body{
    .hidden{
        display: flex;
        margin-top: 140px;
        justify-content: center;
    
    }
    .top{
        display: flex;
        justify-content: center;
        margin: 6%;
        margin-top: 40px;
        #control_wrapper {
            max-width: 246px;
            margin: 30px auto;
            padding-top: 50px;
        }
        .control-section {
            margin: 25px auto;
        }
        .left{
            margin-right: 10%;
            .title{
                margin-right: 10px;
            }
        }
        .right{
            .title{
                margin-right: 10px;
            }
        }
        .button{
            height: 19px;
            width: 45px;
            margin-left: 157%;
            cursor: pointer;
        }
    }
    
    .chart{
        /deep/.chartjs-render-monitor{
            display: block;
            width: 958px !important;
            height: 420px !important;
            margin: 0 auto;
            border: 1px solid black;
            border-radius: 10px;
        }
    }
    .sentence{
        justify-content: center;
        display: flex;
        font-weight: bold;
        margin-top: 10px;
        font-family: monospace;
        margin-bottom: 10px;
    }
    .line{
        width: 100%;
        height: 2px;
        background-color: cornflowerblue;
    }
}
