.main{
    display: flex;
    align-items: center;
    background-image: linear-gradient(#594286, #3894b9) !important;
    height: 100vh;
    flex-direction: column;
    .top{
        margin-top: -115px;
        .input_Url{
            margin-top: -80px;
            input{
                height: 25px;
                width: 402px;
                .text{
                    padding-left: 10px;
                }
            }
            .button{
                width: 55px;
                margin-left: 33px;
                height: 29px;
                color: #ffffff;
                background-color: blue;
                border: none;
            }
            .button{
                height: 29px;
                width: 80px;
                color: #ffffff;
                border: none;
                background-color: blue;
                margin-top: 236px;
    
            }
            .open-button {
                background-color: #555;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                bottom: 23px;
                right: 28px;
                width: 280px;
              }
              
              /* The popup form - hidden by default */
              .form-popup {
                display: none;
                position: fixed;
                bottom: 146px;
                right: 40%;
                border: 3px solid #f1f1f1;
                z-index: 9;
              }
              
              /* Add styles to the form container */
              .form-container {
                max-width: 300px;
                padding: 10px;
                background-color: white;
                h1{
                    text-align: center;
                }
                .combobox_url{
                    display: flex;
                    flex-direction: column;
                    .code{
                        margin-bottom: 20px;
                    }
                    .common{
                        height: 29px;
                    }
                }
                .checkbox_url{
                    margin-bottom: 25px;
                    display: flex;
                    flex-direction: row;
                    margin-top: 15px;
                    input{
                        height: 16px !important;
                    }
                }
                .area{
                    border: 1px solid;
                    margin-bottom: 20px;
                }
              }
              
              /* Full-width input fields */
              .form-container input[type=text], .form-container input[type=password] {
                width: 261px;
                height: 5px;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
              }
              
              /* When the inputs get focus, do something */
              .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                outline: none;
              }
              
              /* Set a style for the submit/login button */
              .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom:10px;
                opacity: 0.8;
              }
              
              /* Add a red background color to the cancel button */
              .form-container .cancel {
                background-color: red;
              }
              
              /* Add some hover effects to buttons */
              .form-container .btn:hover, .open-button:hover {
                opacity: 1;
              }
        }
        .tiente{
            display: flex;
            margin-top: 10px;
            .text{
                display: flex;
                p{
                    margin-right: 20px;
                    line-height: 25px;
                    color: #ffffff;
                }
                .select_tiente{
                    width:  337px;
                    height: 29px;
                    margin-right: 32px;
                }
            }
           
            .button{
                height: 29px;
                width: 80px;
                color: #ffffff;
                background-color: blue;
                border: none;
            }
        }
        .day{
            display: flex;
            margin-top: 10px;
            p{
                margin-right: 35px;
                color: #ffffff;
                line-height:25px;
            }
            input{
                    height: 29px;
                     width: 334px;
            }
        }
    }
    
    .middle{
        margin-top: 60px;
        height: 500px;
        overflow: hidden;
        .button1{
            height: 29px;
            width: 80px;
            color: #ffffff;
            border: none;
            background-color: blue;
        }
        th{
            padding-right: 100px;
            padding-bottom: 13px;
            padding-top: 10px;
            color: #00FF66;
        }
        td{
            color: #ffffff;
            padding-bottom: 10px;
 
            button{
                height: 30px;
                width: 60px;
                background-color: red;
                border: none;
                color: #ffffff;
                cursor: pointer;
            }
            .status{
                margin-right: 10px;
                height: 30px;
                width: 70px;
                color: #ffffff;
                border: none;  
                cursor: pointer;
                margin-left: 20px;
            }
            input{
                width: 140px;
                height: 26px;
                margin-right: 20px;
                text-align: center;
            }
        }
        .button{
            height: 29px;
            width: 80px;
            color: #ffffff;
            border: none;
            background-color: blue;
            margin-top: 236px;

        }
        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
          }
          
          /* The popup form - hidden by default */
          .form-popup {
            display: none;
            position: fixed;
            bottom: 146px;
            right: 40%;
            border: 3px solid #f1f1f1;
            z-index: 9;
          }
          
          /* Add styles to the form container */
          .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
            h1{
                text-align: center;
            }
          }
          
          /* Full-width input fields */
          .form-container input[type=text], .form-container input[type=password] {
            width: 261px;
            height: 5px;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
          }
          
          /* When the inputs get focus, do something */
          .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
          }
          
          /* Set a style for the submit/login button */
          .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom:10px;
            opacity: 0.8;
          }
          
          /* Add a red background color to the cancel button */
          .form-container .cancel {
            background-color: red;
          }
          
          /* Add some hover effects to buttons */
          .form-container .btn:hover, .open-button:hover {
            opacity: 1;
          }
    }
  .both{
      display: flex;
    .footer{
        margin-top: 25px;
        height: 200px;
        overflow: scroll;
        width: 230px;
        .key_json{
            .select_key{
                width: 214px;
                height: 29px;

            }
        }
        .list_tiente{
            margin-top: 12px;
            span{
                color: #ffffff;
            }
        }
    }
    .accept{
        button{
            width: 40px;
            height: 29px;
            margin-top: 25px;
            margin-left: 15px;
        
        }
      
    }
  }
}
