<div class="main">
  <div class="top">
    <div class="input_Url">
      <input type="text" id="URL" placeholder="Url" />
      <button class="button"  onclick="GetJsonFromUrl()" >URL</button>
      <div class="form-popup" id="myForm">
          <form action="" class="form-container">
            <div class="combobox_url">
                <label for="email"><b>Path</b></label>
                <select class="code common" id="popup-url-ma">
                </select>
                <div>
                  <label><b>Ma</b><select class="code common" id="select-key-ma"></select></label>
                  <label><b>HeSo</b><select class="code common" id="select-key-heso"></select></label>
                </div>
            </div>
            <div class="checkbox_url">
                <input type="checkbox" name="a" id="ck-key-key" value="" onclick="onclick_chk1()"> key,key<br>
                <input type="checkbox" name="b" id="ck-key-value" value="" onclick="onclick_chk2()" checked> key,value<br>
            </div>
            <div class="area">
                <pre id="pretty-area-textbox" style="height: 150px;overflow: scroll;"></pre>
            </div>
            <button type="button" id="btn-DoTienTeVaoBang" class="btn">Xong</button>
            <button type="button" class="btn cancel" onclick="document.getElementById('myForm').style.display='none';">Hủy</button>
          </form>
        </div>
    </div>
    <div class="tiente">
      <div class="text">
        <p>Tiền Tệ</p>
        <select class="select_tiente" id="cbb-tiente">
        </select>
      </div>
      <button class="button" onclick="ThemTienTeVaoBang()">Thêm</button>
    </div>
    <div class="day">
      <p>Ngày</p>
      <input type="date" id="text-ngay" />
    </div>
  </div>
  <div class="middle">
      <div class="form-popup" id="Form" style="display:none;">
          <form action="" class="form-container">
            <h1>Thêm Tiền Tệ</h1>
            <label for="email"><b>Mã</b></label>
            <input type="text" id="text-ma-tt" placeholder="Nhập mã tiền tệ"  required>
      
            <label for="psw"><b>Tên<noscript></noscript></b></label>
            <input type="text" id="text-ten-tt" placeholder="Nhập tên tiền tệ" name="psw" required>
            <button type="button" id="btn-them-tt" class="btn">Thêm</button>
            <button type="button" class="btn cancel" onclick="document.getElementById('Form').style.display='none';">Hủy</button>
          </form>
        </div>
    <table >
      <thead>
        <tr>
          <th ng-click="sort('id')">Mã Tiền Tệ
            <span class="glyphicon sort-icon"
              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('product_name')">Tên ngoại tệ
            <span class="glyphicon sort-icon"
              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('product_name')">Hệ số
            <span class="glyphicon sort-icon"
              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th>    </th>
          <!-- <th ng-click="sort('product_name')">Bán
                <span class="glyphicon sort-icon"
                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th> -->
        </tr>
      </thead>
      <tbody id="tbody" style="height: 300px;">
      </tbody>
    </table>
    <button onclick="CapNhap()" class="button-capnhap">Cập Nhật</button>
  </div>
  
</div>