/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.scss';
// @import '~open-iconic/font/css/open-iconic-bootstrap.scss';
*{
    margin: 0;
    padding: 0;
    
}
.main.top.button{
    width: 30px;
    height: 30px;
    background-color: red;
}
.button-xoa {
    height: 30px;
    width: 60px;
    background-color: red;
    border: none;
    color: #ffffff;
    cursor: pointer;
    
}
.button-capnhap {
    height: 30px;
    width: 70px;
    background-color: blue;
    border: 1px solid;
    color: #ffffff;
    cursor: pointer;
    margin-right: 20px;
}
.input-heso{
    width: 140px;
    height: 26px;
    margin-right: 20px;
    text-align: center;
}
.text-tt{
    color: #ffffff;
    padding-bottom: 10px;
}
tbody {
    display:block;
    overflow:auto;
}
tr {
    height: 50px;
}
thead, tbody tr {
    display:table;
    width: 100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
    
}
table {
    width: 100vh;
}